<md-list> <md-list-item class="md-2-line"
	ng-repeat="group in groups"> {{group.name}} <md-list>
<md-list-item class="md-2-line" ng-repeat="user in group.users">
{{user.name}} </md-list-item> </md-list> </md-list-item> </md-list>

<md-button class="md-raised">Add user</md-button>

<md-data-table-toolbar>
<h2 class="md-title">Groups</h2>
</md-data-table-toolbar>

<md-data-table-container>
<table md-data-table md-row-select="selected" md-progress="deferred">
	<thead md-order="query.order" md-trigger="onOrderChange">
		<tr>
			<th name="Group" order-by="group.name"></th>
			<th name="Users" order-by="user.name"></th>
		</tr>
	</thead>
	<tbody>
		<tr md-auto-select ng-repeat="group in groups">
			<td>{{group.name}}</td>
			<td>

				<md-list class="fixedRows" layout="column"> <md-list-item
					class="md-2-line contact-item"
					ng-repeat="(index, contact) in group.users">
				<div class="md-list-item-text compact">
					<h3>{{contact.name}}</h3>
				</div>
				</md-list-item> </md-list></td>

		</tr>
	</tbody>
</table>
</md-data-table-container>

<md-data-table-pagination md-limit="query.limit" md-page="query.page"
	md-total="{{desserts.total}}" md-trigger="onPaginationChange"></md-data-table-pagination>