<md-dialog aria-label="Login"  ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Mango (Fruit)</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-icon="mdi-close" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
                  <form name="userForm">
<md-input-container>
        <label>Username</label>
        <input name="login" >
</md-input-container>
<md-input-container>
        <label>Password</label>
        <input name="password" type="password">
</md-input-container>

    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="answer('not useful')">
       Cancel
      </md-button>
      <md-button ng-click="answer('useful')" style="margin-right:20px;">
        Login!
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>