<form name="userForm">
<md-input-container>
        <label>Login</label>
        <input name="login" />
</md-input-container>
<md-input-container>
        <label>Mail</label>
        <input name="mail" />
</md-input-container>
<md-input-container>
        <label>Password</label>
        <input name="password" type="password" />
</md-input-container>
<md-input-container>
        <label>SSH Key</label>
        <input name="sshkey" />
</md-input-container>
<md-button class="md-raised">Save</md-button>
</form>