<md-list> 
	<md-list-item class="md-2-line"
	ng-repeat="project in projects"> {{group.name}} 
		<md-list>
			<md-list-item class="md-2-line" ng-repeat="user in group"
			ng-show="isActive(group)"> {{user.name}} 
			</md-list-item> 
		</md-list> 
	</md-list-item> 
</md-list>

<md-button class="md-raised">Add user</md-button>