<table>
	 <tr >
    <td>Name</td>
    <td>Groups</td>
    <td>E-mail</td>
  </tr>
  <tr ng-repeat="user in users">
    <td>{{ user.name }}</td>
    <td>{{ getUserGroups(user) }}</td>
    <td>{{ user.mail }}</td>
  </tr>
</table>

<md-button class="md-raised">Add user</md-button>

<md-data-table-toolbar>
  <h2 class="md-title">Users</h2>
</md-data-table-toolbar>

<md-data-table-container>
  <table md-data-table md-row-select="selected" md-progress="deferred">
    <thead md-order="query.order" md-trigger="onOrderChange">
      <tr>
        <th name="Username" order-by="name"></th>
        <th name="Groups" order-by="calories.value"></th>
        <th name="E-mail" order-by="fat.value"></th>
      </tr>
    </thead>
    <tbody>
      <tr md-auto-select ng-repeat="user in users">
        <td>{{user.name}}</td>
        <td>{{getUserGroups(user)}}</td>
        <td>{{user.mail}}</td>

      </tr>
    </tbody>
  </table>
</md-data-table-container>

<md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{desserts.total}}" md-trigger="onPaginationChange"></md-data-table-pagination>