<md-data-table-toolbar>
<h2 class="md-title">Groups</h2>
</md-data-table-toolbar>

<md-data-table-container>
<table md-data-table md-row-select="selected" md-progress="deferred">
	<thead md-order="query.order" md-trigger="onOrderChange">
		<tr>
			<th name="Group" order-by="group.name"></th>
			<th name="Users" order-by="user.name"></th>
		</tr>
	</thead>
	<tbody>
		<tr md-auto-select ng-repeat="group in groups">
		<td>
		<md-menu md-offset="30 40">
			<span ng-right-click="openMenu($mdOpenMenu, $event)">{{group.name}}</span>
			<md-menu-content width="4">
	        	<md-menu-item>
	          		<md-button ng-click="remove(event,group)">
	            		<md-icon md-svg-icon="folder-remove" md-menu-align-target></md-icon>
	            		Remove
	          		</md-button>
	        	</md-menu-item>
	        	<md-menu-item>
	          		<md-button ng-click="showUsers(event,group)">
	            		<md-icon md-svg-icon="account-key" md-menu-align-target></md-icon>
	            		Users
	          		</md-button>
	        	</md-menu-item>
        	</md-menu-content>
		</md-menu>
		</td>
			<td>
        <md-chips placeholder="Groups" ng-model="group.users" readonly="true">
        <md-chip-template>
  <span>{{$chip.name}}</span>
</md-chip-template></md-chips>
			</td>

		</tr>
	</tbody>
</table>
</md-data-table-container>

<md-data-table-pagination md-limit="query.limit" md-page="query.page"
	md-total="{{desserts.total}}" md-trigger="onPaginationChange"></md-data-table-pagination>
	
	<md-button class="md-raised" ng-click="addGroup()">Add group</md-button>