<md-dialog aria-label="Login" ng-cloak>
<form>
	<md-toolbar>
	<div class="md-toolbar-tools">
		<h2>Add group</h2>
		<span flex></span>
		<md-button class="md-icon-button" ng-click="cancel()"> <md-icon
			md-svg-icon="close" aria-label="Close dialog" class="material-icons"></md-icon> </md-button>
	</div>
	</md-toolbar>
	<md-dialog-content>
	<form name="userForm">
		<md-input-container> <label>Group name</label> <input
			name="login" ng-model="group.name"/> </md-input-container>
	</md-dialog-content>
	<div class="md-actions" layout="column">
		<md-button ng-click="addGroup()" style="margin-right:20px;">
		Add</md-button>
		
	</div>
</form>
</md-dialog>