<md-dialog aria-label="GroupEdit" ng-cloak>
<form>
	<md-toolbar>
	<div class="md-toolbar-tools">
		<h2>Users of {{group.name}}</h2>
		<span flex></span>
		<md-button class="md-icon-button" ng-click="cancel()"> <md-icon
			md-svg-icon="close" aria-label="Close dialog" class="material-icons"></md-icon>
		</md-button>
	</div>
	</md-toolbar>
	
	<md-subheader class="md-primary">Users</md-subheader>
	<md-chips class="custom-chips" ng-model="group.users" readonly="false">
	<md-autocomplete
          md-selected-item="selectedItem"
          md-search-text="searchText"
          md-items="item in foundUsers"
          md-item-text="item.name"
          md-search-text-change = "querySearchUsers(searchText)"
          placeholder="Search for a user">
        <span md-highlight-text="searchText">{{item.name}}</span>
      </md-autocomplete>
      <md-chip-template>
        <span>
         	{{$chip.name}}
        </span>
      </md-chip-template>
    </md-chips>
	
	<div class="md-actions" layout="column">
		<md-button ng-click="saveGroup()" style="margin-right:20px;">
		Save</md-button>

	</div>
</md-dialog>