<md-dialog aria-label="Login" ng-cloak>
<form>
	<md-toolbar>
	<div class="md-toolbar-tools">
		<h2>Login</h2>
		<span flex></span>
		<md-button class="md-icon-button" ng-click="cancel()"> <md-icon
			md-svg-icon="close" aria-label="Close dialog" class="material-icons"></md-icon> </md-button>
	</div>
	</md-toolbar>
	<md-dialog-content>
	<form name="userForm">
		<md-input-container> <label>Username</label> <input
			name="login" ng-model="username"/> </md-input-container>
		<md-input-container> <label>Password</label> <input
			name="password" type="password" ng-model="password"/> </md-input-container>
	</md-dialog-content>
	<div class="md-actions" layout="column">
		<md-button ng-click="login()" style="margin-right:20px;">
		Login</md-button>
		<a href="#/reset" class="md-body-1" ng-click="cancel()">Forgot your password?</a>
		
	</div>
</form>
</md-dialog>