<form name="userForm">
<md-input-container>
        <label>Login</label>
        <input name="login" ng-model="user.name"/>
</md-input-container>
<md-input-container>
        <label>Mail</label>
        <input name="mail" ng-model="user.mail"/>
</md-input-container>
<md-input-container>
        <label>Password</label>
        <input name="password" type="password" ng-model="user.password" />
</md-input-container>
<md-input-container>
        <label>SSH Key</label>
        <input name="sshkey" ng-model="user.key"/>
</md-input-container>
	<h2 class="md-title">Groups</h2>
        <md-chips placeholder="Groups" ng-model="groups" readonly="readonly"></md-chips>
        <h2 class="md-title">Roles</h2>
        <md-chips placeholder="Roles" ng-model="user.roles" readonly="readonly"></md-chips>
<md-button class="md-raised" ng-click="saveUser()">Save</md-button>
</form>