<md-dialog aria-label="ProjectAdd" ng-cloak>
<form>
	<md-toolbar>
	<div class="md-toolbar-tools">
		<h2>Add project</h2>
		<span flex></span>
		<md-button class="md-icon-button" ng-click="cancel()"> <md-icon
			md-svg-icon="close" aria-label="Close dialog" class="material-icons"></md-icon> </md-button>
	</div>
	</md-toolbar>
	<md-dialog-content>
	<form name="userForm">
		<md-input-container> <label>Project name</label> <input
			name="project_name" ng-model="project.name"/> </md-input-container>
	</md-dialog-content>
	<div class="md-actions" layout="column">
		<md-button ng-click="addProject()" style="margin-right:20px;">
		Add</md-button>
		
	</div>
</form>
</md-dialog>