<md-dialog aria-label="ProjectAdd" ng-cloak>
<form>
	<md-toolbar>
	<div class="md-toolbar-tools">
		<h2>Permissions for {{project.name}}</h2>
		<span flex></span>
		<md-button class="md-icon-button" ng-click="cancel()"> <md-icon
			md-svg-icon="close" aria-label="Close dialog" class="material-icons"></md-icon>
		</md-button>
	</div>
	</md-toolbar>
	

	<md-subheader class="md-primary">None</md-subheader>
	<table>
	<tr><td>Users</td><td>Groups</td></tr>
	<tr>
	<td>
	<md-chips class="custom-chips" ng-model="noneUsers" readonly="false">
	<md-autocomplete
          md-selected-item="selectedItem"
          md-search-text="searchText"
          md-items="item in foundUsers"
          md-item-text="item.name"
          md-search-text-change = "querySearchUsers(searchText)"
          placeholder="Search for a user">
        <span md-highlight-text="searchText">{{item.name}}</span>
      </md-autocomplete>
      <md-chip-template>
        <span>
         	{{$chip.name}}
        </span>
      </md-chip-template>
    </md-chips>
    </td><td>
    <md-chips class="custom-chips" ng-model="noneGroups" readonly="false">
    <md-autocomplete
          md-selected-item="selectedItem"
          md-search-text="searchText"
          md-items="item in foundGroups"
          md-item-text="item.name"
          md-search-text-change = "querySearchGroups(searchText)"
          placeholder="Search for a group">
        <span md-highlight-text="searchText">{{item.name}}</span>
      </md-autocomplete>
      <md-chip-template>
        <span>
         	{{$chip.name}}
        </span>
      </md-chip-template>
    </md-chips>
	</td></tr>
	</table>
	
	<md-subheader class="md-primary">Read</md-subheader>
	<table>
	<tr><td>Users</td><td>Groups</td></tr>
	<tr>
	<td>
	<md-chips class="custom-chips" ng-model="readUsers" readonly="false">
	<md-autocomplete
          md-selected-item="selectedItem"
          md-search-text="searchText"
          md-items="item in foundUsers"
          md-item-text="item.name"
          md-search-text-change = "querySearchUsers(searchText)"
          placeholder="Search for a user">
        <span md-highlight-text="searchText">{{item.name}}</span>
      </md-autocomplete>
      <md-chip-template>
        <span>
         	{{$chip.name}}
        </span>
      </md-chip-template>
    </md-chips>
    </td><td>
    <md-chips class="custom-chips" ng-model="readGroups" readonly="false">
    <md-autocomplete
          md-selected-item="selectedItem"
          md-search-text="searchText"
          md-items="item in foundGroups"
          md-item-text="item.name"
          md-search-text-change = "querySearchGroups(searchText)"
          placeholder="Search for a group">
        <span md-highlight-text="searchText">{{item.name}}</span>
      </md-autocomplete>
      <md-chip-template>
        <span>
         	{{$chip.name}}
        </span>
      </md-chip-template>
    </md-chips>
	</td></tr>
	</table>
	
	
	<md-subheader class="md-primary">Read & Write</md-subheader>
	<table>
	<tr><td>Users</td><td>Groups</td></tr>
	<tr>
	<td><md-chips class="custom-chips" ng-model="readWriteUsers" readonly="false" md-require-match="true">
	<md-autocomplete
          md-selected-item="selectedItem"
          md-search-text="searchText"
          md-items="item in foundUsers"
          md-item-text="item.name"
          md-search-text-change = "querySearchUsers(searchText)"
          placeholder="Search for a user">
        <span md-highlight-text="searchText">{{item.name}}</span>
      </md-autocomplete>
	
      <md-chip-template>
        <span>
         	{{$chip.name}}
        </span>
      </md-chip-template>
    </md-chips></td>
    <td> <md-chips class="custom-chips" ng-model="readWriteGroups" readonly="false">
    <md-autocomplete
          md-selected-item="selectedItem"
          md-search-text="searchText"
          md-items="item in foundGroups"
          md-item-text="item.name"
          md-search-text-change = "querySearchGroups(searchText)"
          placeholder="Search for a group">
        <span md-highlight-text="searchText">{{item.name}}</span>
      </md-autocomplete>
      <md-chip-template>
        <span>
         	{{$chip.name}}
        </span>
      </md-chip-template>
    </md-chips>
    </div></td>
    </tr>
	</table>
	
    <md-subheader class="md-primary">Managers</md-subheader>
    <md-chips class="custom-chips" ng-model="project.managers" readonly="false" md-require-match="true">
	<md-autocomplete
          md-selected-item="selectedItem"
          md-search-text="searchText"
          md-items="item in foundUsers"
          md-item-text="item.name"
          md-search-text-change = "querySearchUsers(searchText)"
          placeholder="Search for a user">
        <span md-highlight-text="searchText">{{item.name}}</span>
      </md-autocomplete>
	
      <md-chip-template>
        <span>
         	{{$chip.name}}
        </span>
      </md-chip-template>
    </md-chips>
	
	<div class="md-actions" layout="column">
		<md-button ng-click="saveProject()" style="margin-right:20px;">
		Save Permissions</md-button>

	</div>
</md-dialog>