<md-toolbar class="md-theme-light" style="flex-direction:row;text-align:left;padding:20px">
    <md-icon md-svg-icon="home" ng-click='getLeafs("/")' style="text-align:left;margin:0px"></md-icon>
	<span ng-repeat="project in path_list">
    	<span ng-click="getLeafs(project.path)" >/{{project.name}}</span>
	</span>
</md-toolbar>


<md-list > 
	<md-list-item ng-repeat="project in projects"> 
		<md-menu md-offset="30 40">
			<span ng-click="getLeafs(project.path+project.name)" ng-right-click="openMenu($mdOpenMenu, $event)">
	    		{{project.name}}
			</span>
			<md-menu-content width="4">
				<!-- <md-menu-item>
	          		<md-button ng-click="remove(event,project)">
	            		<md-icon md-svg-icon="file-document" md-menu-align-target></md-icon>
	            		Edit
	          		</md-button>
	        	</md-menu-item> -->
	        	<md-menu-item>
	          		<md-button ng-click="remove(event,project)">
	            		<md-icon md-svg-icon="folder-remove" md-menu-align-target></md-icon>
	            		Remove
	          		</md-button>
	        	</md-menu-item>
	        	<md-menu-item>
	          		<md-button ng-click="showPermissions(event,project)">
	            		<md-icon md-svg-icon="account-key" md-menu-align-target></md-icon>
	            		Permissions
	          		</md-button>
	        	</md-menu-item>
        	</md-menu-content>
		</md-menu>
		
	</md-list-item> 
</md-list>

<md-button class="md-raised" ng-click="addProject()">Add project</md-button>