<form name="userForm">
<md-toolbar class="md-theme-light">
    <h2 class="md-toolbar-tools">
      <span>SVN Server Config</span>
    </h2>
  </md-toolbar>
<md-input-container>
        <label>SVN Direcory</label>
        <input name="svnDirecory" ng-model="server.svnDirecory" />
</md-input-container>
<md-input-container>
        <label>Svnserve File Path</label>
        <input name="svnservePath" ng-model="server.svnservePath" />
</md-input-container>
<md-input-container>
        <label>SVN log File Path</label>
        <input name="svn_log_path" ng-model="server.svnLogPath" />
</md-input-container>
<md-input-container>
        <label>Server host</label>
        <input name="server_host" ng-model="server.serverHost" />
</md-input-container>
<md-toolbar class="md-theme-light">
    <h2 class="md-toolbar-tools">
      <span>Mail config</span>
    </h2>
  </md-toolbar>
<md-input-container>
        <label>SMTP host</label>
        <input name="smtp_host" ng-model="server.smtpHost" />
</md-input-container>
<md-input-container>
        <label>smtp Port</label>
        <input name="smtpPort" ng-model="server.smtpPort" />
</md-input-container>
<md-input-container>
        <label>smtp User</label>
        <input name="smtpUser" ng-model="server.smtpUser" />
</md-input-container>
<md-input-container>
        <label>smtp password</label>
        <input name="smtp_password" type="password" ng-model="server.smtpPassword" />
</md-input-container>
<md-input-container>
        <label>smtp from</label>
        <input name="smtp_from" ng-model="server.smtpFrom" />
</md-input-container>
<md-input-container>
        <label>ssh Authorized key filepath</label>
        <input name="ssh_key_path" ng-model="server.sshKeyPath" />
</md-input-container>
<md-button class="md-raised" ng-click="saveServerConfig()">Save</md-button>
<md-toolbar class="md-theme-light">
    <h2 class="md-toolbar-tools">
      <span>Repository</span>
    </h2>
  </md-toolbar>
<md-input-container>
        <label>anonymous users Access rights</label>
        <md-select ng-model="repo.anonAccess" name="anonAccess">
          <md-option value="NONE">None</md-option>
          <md-option value="READ">Read</md-option>
          <md-option value="READWRITE">Read &amp; Write</md-option>
        </md-select>
</md-input-container>
<md-input-container>
        <label>authorized users Access rights</label>
        <md-select ng-model="repo.authAccess" name="authAccess">
          <md-option value="NONE">None</md-option>
          <md-option value="READ">Read</md-option>
          <md-option value="READWRITE">Read &amp; Write</md-option>
        </md-select>
</md-input-container>
<md-input-container>
        <label>passwd filepath</label>
        <input name="passwordDB" ng-model="repo.passwordDB" />
</md-input-container>
<md-input-container>
        <label>authz filepath</label>
        <input name="authzDB" ng-model="repo.authzDB" />
</md-input-container>
<md-input-container>
        <label>groups filepath</label>
        <input name="groupsDB" ng-model="repo.groupsDB" />
</md-input-container>
<md-input-container>
        <label>Realm</label>
        <input name="groupsDB" ng-model="repo.realm" />
</md-input-container>
<md-input-container>
        <label>force Username Case</label>
        <md-select ng-model="repo.forceUsernameCase" name="forceUsernameCase">
          <md-option value="none">None</md-option>
          <md-option value="upper">UpperCase</md-option>
          <md-option value="lower">LowerCase</md-option>
        </md-select>
</md-input-container>
<md-button class="md-raised" ng-click="saveRepoConfig()">Save</md-button>
<md-toolbar class="md-theme-light">
    <h2 class="md-toolbar-tools">
      <span>Application Config</span>
    </h2>
  </md-toolbar>
<md-input-container>
        <label>Application Direcory Name</label>
        <input name="APP_DIR_NAME" />
</md-input-container>
<md-input-container>
        <label>Application config filename</label>
        <input name="CONFIG_NAME" />
</md-input-container>

<md-input-container>
        <label>Logs</label>
        <textarea name="startuperrors" >{{startuperrors}}</textarea>
</md-input-container>
<md-button class="md-raised" ng-click="saveSettings()">Save</md-button>
</form>