<form name="userForm" ng-if="user.token == null" id="tokenForm">
<md-input-container>
        <label>Login</label>
        <input name="login" ng-model="user.name" />
</md-input-container>
<md-input-container>
        <label>Mail</label>
        <input name="mail" ng-model="user.mail" />
</md-input-container>
<md-button class="md-raised" ng-click="sendResetToken()">Next</md-button>
</form>

<form name="userForm" ng-if="user.token != null" id="changeUserForm">
<md-input-container>
        <label>Password</label>
        <input name="password" type="password" ng-model="user.password" />
</md-input-container>
<md-input-container>
        <label>SSH Key</label>
        <input name="sshkey" ng-model="user.key" />
</md-input-container>
<md-button class="md-raised" ng-click="changePassword()">Reset!</md-button>
</form>