<md-data-table-toolbar>
  <h2 class="md-title">Users</h2>
</md-data-table-toolbar>

<md-data-table-container>
  <table md-data-table md-row-select="selected" md-progress="deferred">
    <thead md-order="query.order" md-trigger="onOrderChange">
      <tr>
        <th name="Username" order-by="name"></th>
        <th name="Groups" order-by="calories.value"></th>
        <th name="E-mail" order-by="fat.value"></th>
      </tr>
    </thead>
    <tbody>
      <tr md-auto-select ng-repeat="user in users">
        <td><md-menu md-offset="30 40">
			<span ng-right-click="openMenu($mdOpenMenu, $event)">{{user.name}}</span>
			<md-menu-content width="4">
	        	<md-menu-item>
	          		<md-button ng-click="remove(user)">
	            		<md-icon md-svg-icon="folder-remove" md-menu-align-target></md-icon>
	            		Remove
	          		</md-button>
	        	</md-menu-item>
	        	<md-menu-item>
	          		<md-button ng-click="edit(event, user)">
	            		<md-icon md-svg-icon="account-key" md-menu-align-target></md-icon>
	            		Edit
	          		</md-button>
	        	</md-menu-item>
        	</md-menu-content>
		</md-menu></td>
        <td>
        <md-chips ng-model="groups[user.name]" readonly="true"></md-chips>
        </td>
        <td>{{user.mail}}</td>

      </tr>
    </tbody>
  </table>
</md-data-table-container>

<md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{groups.length}}" md-trigger="onPaginationChange"></md-data-table-pagination>

<md-button class="md-raised" ng-click="addUser()">Add user</md-button>