<md-dialog aria-label="UserEdit" ng-cloak>
<form name="userForm">

<md-toolbar>
	<div class="md-toolbar-tools">
		<h2>Edit user {{user.name}}</h2>
		<span flex></span>
		<md-button class="md-icon-button" ng-click="cancel()"> <md-icon
			md-svg-icon="close" aria-label="Close dialog" class="material-icons"></md-icon>
		</md-button>
	</div>
	</md-toolbar>

<md-input-container>
        <label>Login</label>
        <input name="login" ng-model="user.name"/>
</md-input-container>
<md-input-container>
        <label>Mail</label>
        <input name="mail" ng-model="user.mail"/>
</md-input-container>
<md-input-container>
        <label>Password</label>
        <input name="password" type="password" ng-model="user.password" />
</md-input-container>
<md-input-container>
        <label>SSH Key</label>
        <input name="sshkey" ng-model="user.key"/>
</md-input-container>
	<h2 class="md-title">Groups</h2>
    <md-chips class="custom-chips" ng-model="groups" readonly="false">
    <md-autocomplete
          md-selected-item="selectedItem"
          md-search-text="searchText"
          md-items="item in foundGroups"
          md-item-text="item.name"
          md-search-text-change = "querySearchGroups(searchText)"
          placeholder="Search for a group">
        <span md-highlight-text="searchText">{{item.name}}</span>
      </md-autocomplete>
      <md-chip-template>
        <span>
         	{{$chip.name}}
        </span>
      </md-chip-template>
    </md-chips>
 
 <h2 class="md-title">Roles</h2>
    <md-chips placeholder="Roles" ng-model="user.roles" readonly="readonly"></md-chips>
<md-button class="md-raised" ng-click="saveUser()">Save</md-button>
</form>
</md-dialog>