<!DOCTYPE html>
<html lang="en">
<head>
<title>Angular Material - Starter App</title>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="viewport"
	content="initial-scale=1, maximum-scale=1, user-scalable=no" />

<link rel="stylesheet"
	href="./bower_components/angular-material/angular-material.css" />
<link type="text/css"
	href="bower_components/mdi/css/materialdesignicons.min.css" media="all"
	rel="stylesheet" />
<link href="bower_components/angular-material-data-table/dist/md-data-table.min.css" rel="stylesheet" type="text/css"/>

<style type="text/css">
/**
         * Hide when Angular is not yet loaded and initialized
         */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak,
	.x-ng-cloak {
	display: none !important;
}
</style>

</head>

<body ng-app="webui" layout="row" ng-controller="MenuController" class="authDemoApplication auth-demo-application waiting-for-angular">

	<md-sidenav
		class="md-whiteframe-2dp  site-sidenav md-sidenav-left  md-primary"
		md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" style="background-color: rgb(76, 175, 80);">

	<header class="nav-header">
		<a ng-href="" class="md-primary">
			<h1 class="md-primary">SVN Repository Manager</h1>
		</a>
	</header> <md-content flex role="navigation" >
	<ul class="docs-menu" style="padding: 0px; max-width: 100%" >

		<li ng-repeat="section in sections"
			class="parent-list-item md-theme-light"><menu-link
				class="ng-isolate-scope"> <a section="section"
				ng-click="activate(section);$location.path(section.url)"
				ng-if="section.type === 'link'"
				ng-class="{'menuActive' : isActive(section)}" class="md-button" style="width:100%; text-align: left;">
				<span class="ng-binding ng-scope  md-title ">{{section.name}}</span>
			</a></menu-link>
			<ul ng-if="section.children" class="menu-nested-list">
				<li ng-repeat="child in section.children"
					ng-class="{'menuActive' : isActive(child)}"
					ng-show="isActive(child)"><md-button section="child"
						ng-click="activate(child);$location.path(child.url)"
						ng-if="child.type === 'link'">{{child.name}}</md-button></li>
			</ul></li>
	</ul>
	</md-content> </md-sidenav>


	<div flex layout="column" tabIndex="-1" role="main"
		class="md-whiteframe-z2">

		<md-toolbar layout="row" class="md-whiteframe-z1"> <md-button
			class="menu" hide-gt-sm ng-click="toggleMenu()"
			aria-label="Toggle menu"> <md-icon md-svg-icon="menu"></md-icon>
		</md-button> <md-icon md-svg-icon="{{active.icon}}" class="material-icons"
			style="height:96px;width:96px;margin:0;"></md-icon>
		<h1>{{active.name}}</h1>
		</md-toolbar>

		<md-content flex id="content" ng-controller="MainController"
			class="md-padding md-body-1"> <ng-view
			class="view-content"> </ng-view> </md-content>

	</div>

	<script src="./bower_components/angular/angular.js"></script>
	<script src="./bower_components/angular-animate/angular-animate.js"></script>
	<script src="./bower_components/angular-aria/angular-aria.js"></script>
	<script src="./bower_components/angular-route/angular-route.min.js"></script>
	<script src="./bower_components/angular-material/angular-material.js"></script>
	<script src="bower_components/angular-material-data-table/dist/md-data-table.min.js"></script>
	<script src="bower_components/angular-http-auth/src/http-auth-interceptor.js"></script>
	
	<script src="./conf/server.js"></script>
	<script src="./src/Menu.js"></script>
	<script src="./src/MenuController.js"></script>
	<script src="./src/MainController.js"></script>
	<script src="./src/ProfileController.js"></script>
	<script src="./src/UsersController.js"></script>
	<script src="./src/GroupsController.js"></script>
	<script src="./src/ProjectsController.js"></script>
	<script src="./src/RepositoryController.js"></script>

	<script type="text/javascript">

        

    </script>

</body>
</html>
